# 2024 Procurement Data Analysis

## Initial code (By Province)

In [19]:
## Initialization

import pandas as pd

xl = pd.ExcelFile('./2024 Procurement Accomplishment Leyte Branch Office.xlsx')

print(xl.sheet_names)

df = pd.read_excel(xl, sheet_name='DB', keep_default_na=False)

numeric_columns = ['BAGS', 'NET_WEIGHT', 'BASIC_COST','BSI','PALLGU','PRICERS','TOTAL_COST']


df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')
df['PROC_DATE'] = pd.to_datetime(df['PROC_DATE'])
df[numeric_columns] = df[numeric_columns].fillna(0)
df['BAGS'] = df['NET_WEIGHT']/50

pv = df.pivot_table(index=['PROVINCE'],
                    values=numeric_columns,
                    aggfunc='sum',
                    margins=True,
                    margins_name='Total',
                    fill_value=0)
pv = pv[numeric_columns]
# pv = pv[(pv.index.get_level_values(0) != '') & (pv.index.get_level_values(1) != '')]
pv = pv[pv.index != '']

more_fmt = {col: '{:,.2f}' for col in numeric_columns[2:]}
all_fmt = {'BAGS': '{:,.3f}', 'NET_WEIGHT':'{:,.3f}', **more_fmt}

# st = pv.style.format(all_fmt)
st = (pv.style
      .format(all_fmt)
      .set_properties(**{'font-weight': 'bold'}, subset=pd.IndexSlice['Total', :]))
st

['DB 2', 'TOTALS 2', 'GRAPHS 2', 'DB', 'TOTALS', 'GRAPHS', 'TARGETS - ACCOMPLISHMENT', 'Sheet13', 'Sheet14']

## By WH

In [20]:
## By province
indexes = ['PROVINCE',]
has_totals = True
pv = df.pivot_table(index=indexes,
                    values=numeric_columns,
                    aggfunc='sum',
                    margins=has_totals,
                    margins_name='Total',
                    fill_value=0)
pv = pv[numeric_columns]
multi_index = isinstance(pv.index, pd.MultiIndex)
    
if multi_index:
    pv = pv[(pv.index.get_level_values(0) != '') & (pv.index.get_level_values(1) != '') | (pv.index.get_level_values(0) == 'Total')]
else:
    pv = pv[pv.index != '']

st = pv.style.format(all_fmt)
if has_totals:
    st = (pv.style
          .format(all_fmt)
          .set_properties(**{'font-weight': 'bold'}, subset=pd.IndexSlice['Total', :]))
st

## By Variety/Province

In [21]:
## By province
indexes = ['VARIETY','PROVINCE',]
has_totals = True
pv = df.pivot_table(index=indexes,
                    values=numeric_columns,
                    aggfunc='sum',
                    margins=has_totals,
                    margins_name='Total',
                    fill_value=0)
pv = pv[numeric_columns]
multi_index = isinstance(pv.index, pd.MultiIndex)
    
if multi_index:
    pv = pv[(pv.index.get_level_values(0) != '') & (pv.index.get_level_values(1) != '') | (pv.index.get_level_values(0) == 'Total')]
else:
    pv = pv[pv.index != '']

st = pv.style.format(all_fmt)
if has_totals:
    st = (pv.style
          .format(all_fmt)
          .set_properties(**{'font-weight': 'bold'}, subset=pd.IndexSlice['Total', :]))
st